################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UdemySignalR.Api/bin/Debug/netcoreapp3.1/runtimes
/UdemySignalR.Api/bin/Debug/netcoreapp3.1/
/UdemySignalR.Api/obj/
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/zh-Hant
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/zh-Hans
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/tr
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/ru
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/pt-BR
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/pl
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/ko
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/ja
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/it
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/fr
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/es
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/de
/UdemySignalR.Web/bin/Debug/netcoreapp3.1/cs
