@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">

    $(document).ready(() => {

        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44397/MyHub").configureLogging(signalR.LogLevel.Information).build();

        $("#connStatus").text(connection.connectionState);

        connection.start().then(() => {
            $("#connStatus").text(connection.connectionState);
        }).catch((err) => { console.log(err) });

        $("#connStatus").text(connection.connectionState);

        $("#btnNameSave").click(() => {
            connection.invoke("SendName", $("#txtName").val()).catch((err) => console.log(err))
        })
        //on() bir methoda subcribe olma işlemini gerçekleştiriyor
        connection.on("ReceiveName", (name) => {
            $("#namesList").append(`<li class="list-group-item"> ${name} </li>`)
        })
    })

</script>
}

<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>
        <hr />
        <div class="alert alert-info">
            Bağlantı Durumu: <strong id="connStatus"></strong>
        </div>
        <div class="col-md-8 offset-2">
            <ul class="list-group" id="namesList"></ul>
        </div>
    </div>
</div>
