@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">

    $(document).ready(() => {

        //withAutomaticReconnect 0,2,10,30 saniye default
        var connection = new signalR.HubConnectionBuilder().configureLogging(signalR.LogLevel.Information).withAutomaticReconnect().withUrl("https://localhost:44397/MyHub").build();

        //Functions
        function statusShow(){
            $("#conStatus").text(connection.connectionState);
        }
        function Start(){
            connection.start().then(() => {
            statusShow();
            $("#loading").hide();
        }).catch((err) => {
            console.log(err);
            setTimeout(()=>Start(),2000);
        });
        }

        statusShow();

        Start();

        statusShow();

        connection.onreconnecting(err=>{
            $("#loading").show();
            $("#conStatus").text("Bağlanılıyor");
        });
        connection.onreconnected(connectionId=>{
            $("#loading").hide();
            $("#conStatus").text("Yeniden bağlantı başarılı");
            console.log("conId:"+connectionId);
        });
        connection.onclose(()=>{
             $("#loading").hide();
             $("#conStatus").text("Bağlantı başarısız sayfayı yenileyiniz.");
             Start();
        })

        //Clicks
        $("#btnNameSave").click(() => {
            connection.invoke("SendName", $("#txtName").val()).catch((err) => console.log(err))
        })
        //on() bir methoda subcribe olma işlemini gerçekleştiriyor
        connection.on("ReceiveName", (name) => {
            $("#namesList").append(`<li class="list-group-item"> ${name} </li>`)
        })
    })

</script>
}

<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>
        <hr />
        <div class="alert alert-info">
            <div class="float-left">
                Bağlantı Durumu: <strong id="conStatus"></strong>
            </div>
            <div class="float-right">
                <div id="loading" class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 offset-2">
            <ul class="list-group" id="namesList"></ul>
        </div>
    </div>
</div>
